body {
    font-family: Arial, sans-serif;
    background-color: rgb(from color 2 3 1 0.1);
    background-size: cover;
    margin-top: 10px;
    overflow: scroll;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDF8fGJsdXUlMjB3aGl0ZXxlbnwwfHx8fDE2OTY1NzE5NTg&ixlib=rb-4.0.3&q=80&w=1080');    
   
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #000000;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    width: 300px;
    text-align: center;
  }
  
  input, select, button {
    margin: 8px 0;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  button {
    background-color: #040664;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #880606;
  }
  
  #resultado {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  